{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center; color: black; font-family: cursive;">Upload Study Material</h1>   
            <form class="form-group" action="{% url 'adminapp:move' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-bordered text-light" style="margin: 50px 20px; padding: 10px;">  
                    <tr>
                        <td style="color: black;">Select Program</td>
                        <td>
                            <select name="program" class="form-control" style="color: black; background-color: #fff;">
                                <option selected>--select program--</option>
                                {% for p in program %}
                                    <option value="{{p.program}}">{{p.program}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: black;">Select Branch</td>
                        <td>
                            <select name="branch" class="form-control" style="color: black; background-color: #fff;">
                                <option selected>--select program--</option>
                                {% for b in branch %}
                                    <option value="{{b.branch}}">{{b.branch}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: black;">Select Year</td>
                        <td>
                            <select name="year" class="form-control" style="color: black; background-color: #fff;">
                                <option selected>--select Year--</option>
                                {% for y in year %}
                                    <option value="{{y.year}}">{{y.year}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: black;">Enter Subject</td>
                        <td>
                            <input type="text" name="subject" class="form-control" style="color: black; background-color: white;"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: black;">Enter File Name</td>
                        <td>
                            <input type="text" name="filename" class="form-control" style="color: black; background-color: white;"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: black;">Select File</td>
                        <td>
                            <input type="file" name="myfile" class="form-control" style="color: black; background-color: white;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <button type="submit" class="btn btn-warning" >Upload</button>
                        </td>
                    </tr>
                </table>
            </form>
              
        </div>
    </div>
{% endblock body %}