{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <h1 style="text-align:center; color: black; font-family: cursive;">View Enquiries</h1> 
        <div class="col-sm-12" style="overflow-x: scroll;">  
              
            <table class="table table-bordered text-light" style="margin: 25px; padding: 50px; font-family: cursive; font-weight: 300;">
                <tr style="color: gold; font-size: 1.2rem;">

                    <th>S.R. No.</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>Email Address</th>
                    <th>Enquiry Text</th>
                    <th>Enquiry Date</th>

                </tr>
                <tr style="color: black;">

                    {% for e in enq %}

                        <td>{{forloop.counter}}</td>
                        <td>{{e.name}}</td>
                        <td>{{e.gender}}</td>
                        <td>{{e.address}}</td>
                        <td>{{e.contactno}}</td>
                        <td>{{e.emailaddress}}</td>
                        <td>{{e.enquirytext}}</td>
                        <td>{{e.enquirydate}}</td>

                    {% endfor %}

                </tr>
            </table>

        </div>
    </div>
{% endblock body %}
